{{!< default }}

<div class="intro">

<p>Bem-vind@ ao Boletim.</p>
<p>Criámos este website com o intuito de promover a importância do acto eleitoral
que se avizinha, e também de agregar a informação que consideramos ser imprescindível
para exercer o direito/dever de votar de forma consciente.</p>

<p>Veja a secção <a href="/candidaturas#card_0">Candidaturas</a>, onde poderá consultar
os manifestos eleitorais dos vários partidos/coligações que são candidatos às 
próximas Eleições Europeias. (Optámos por usar a mesma ordem do boletim eleitoral de dia 26 maio,
que foi obtida por sorteio.)

<p>De momento os seguintes partidos/coligações não constam da nossa lista:
PCTP/MRPP, PDR, PTP, CDU</p>

<p> Veja a secção <a href="/sobre-as-eleicoes">Sobre as eleições</a>, onde estão
reunidos alguns dados e informações importantes sobre as Eleições Europeias</a>

</div>

