{{!< default }}

<div class="intro">

<p>Bem-vind@ ao Boletim.</p>
<p>Criámos este website com o intuito de promover a importância do ato eleitoral
que se avizinha, e também de agregar a informação que consideramos ser imprescindível
para exercer o direito/dever de votar de forma consciente.</p>

<p>Veja a secção <a href="/candidaturas#card_0">Candidaturas</a>, onde poderá consultar
os manifestos/introduções aos programas eleitorais dos vários partidos/coligações que são candidatos às 
próximas Eleições Europeias. (A ordem pela qual as candidaturas aparecem é aleatória).

<p>Adicionalmente, para cada partido/coligação, partilhamos também o link para
a respectiva página dedicada às suas posições quanto à União Europeia.</p>

<p>De momento os seguintes partidos/coligações não constam da nossa lista:
PDR, PTP. (Quando os seus manifestos/programas forem tornados
públicos, adicioná-los-emos ao nosso website). </p>

<p>Veja a secção <a href="/sobre-a-UE">Sobre a a UE</a>, onde estão
reunidos alguns dados e informações importantes sobre a UE e os seus órgãos</a>

<p>Caso se depare com alguma incorreção, não hesite em contactar via e-mail:
gpgp@tuta.io</p>

</div>

