{{!< default }}

<section class="posts">
    {{#get "posts" order="updated_at asc"}}
        {{#foreach posts}}
            <div class="card-wrapper" id="card_{{@index}}">
            {{> post-card}}
            </div>
        {{/foreach}}
    {{/get}}
</section>

<button id="nextpost" onclick="next()" title="prox">&rarr;</button>
<button id="prevpost" onclick="prev()" title="ante">&larr;</button>

<script>
var current = 0;
var n_cards = document.getElementsByClass("card-wrapper").length;
var cur = document.getElementById("card_0");
cur.style.display = "block";

function next() {
    cur = document.getElementById("card_"+current.toString());
    cur.style.display = "none";
    current += 1;
    nex = document.getElementById("card_"+current.toString());
    if (nex === null) {
        current = 0;
        nex = document.getElementById("card_"+current.toString());
    }
    nex.style.display = "block";
};

function prev() {
    cur = document.getElementById("card_"+current.toString());
    cur.style.display = "none";
    current -= 1;
    previ = document.getElementById("card_"+current.toString());
    if (previ === null) {
        current = n_cards - 1;
        previ = document.getElementById("card_"+current.toString());
    }
    previ.style.display = "block";
}

</script>
