h1, h3 {
    text-align: center;
}

.intro {
    width: 80%;
    margin: 0 auto 4rem;
}

button {
    position: fixed;
    z-index: 99;
    border: none;
    outline: none;
    background-color: darkgrey;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    top: 70%;
}

button:hover {
    background-color: slategrey;
}

.card-wrapper {
    display: none;
}

#nextpost {
    right: 5%;
}

#prevpost {
    left: 5%;
}


.posts {
	article {
		width: 80%;
		margin: 0 auto 4rem;

		h2 {
			font-size: 5em;
			margin: 0 0 0.25em;

			a {
				color: $headings-color;
				text-decoration: none;
			}
		}

		p {
			font-size: 1.125em;
			line-height: 1.7;
			margin: 0 0 15px 0;
            text-align: justify;
		}
	}

    .logo-partido {
        width: 30%;
        margin: 5% auto 5%;
        img {
            width: 100%;
            height: auto;
        }
    }

    .readable {
        overflow: hidden;
    }
}
